#title-commentpopup {
	margin-top: auto;
	text-align: left;
}

#blackDivDuplicatePopup {
	background-color: #404040;
	color: white;
	text-align: left;
	width: auto;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 7px !important;
	height: 50px !important;
}

.float-left {
	float: left
}

#ok-duplicate-bp-error {
	margin: 0 auto;
	margin-bottom: 15px;
}

#whiteDivDuplicatePopup {
	height: 100px;
	background-color: white;
	color: black;
	text-align: center;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: white;
}