.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.margin-logo {
	margin-top: 2px;
}

.navbar-nav>li>a, .navbar-brand {
	padding-top: -1px !important;
	padding-bottom: 3px !important;
	height: 48px;
}

.navbar {
	min-height: 28px !important;
}

.user-log {
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}

.photo-logo {
	width: 6.5%;
	height: 10%;
	margin-top: -3px;
}

.photo-logo2 {
	width: 13.5%;
	height: 10%;
	margin-top: -3px;
	border-radius: 16px;
}

.top-menu {
	height: auto;
	width: auto;
}